---
import { Home as HomeIcon, Search, Library } from "lucide-react";
---

<aside class="w-72 bg-zinc-950 p-6">
  <nav class="space-y-5">
    <a
      href=""
      class="flex items-center gap-3 text-sm font-semibold text-zinc-200"
    >
      <HomeIcon />
       Home</a
    >
    <a
      href=""
      class="flex items-center gap-3 text-sm font-semibold text-zinc-200"
    >
      <Search />
       Search</a
    >
    <a
      href=""
      class="flex items-center gap-3 text-sm font-semibold text-zinc-200"
    >
      <Library />
       Your Library</a
    >
  </nav>
  <nav class="mt-6 pt-6 border-t border-zinc-800 flex flex-col gap-3">
    <a href="" class="text-sm text-zinc-400 hover:text-zinc-100"
      >Today's Top Hits</a
    >
    <a href="" class="text-sm text-zinc-400 hover:text-zinc-100">RapCaviar</a>
    <a href="" class="text-sm text-zinc-400 hover:text-zinc-100"
      >All Out 2010s</a
    >
    <a href="" class="text-sm text-zinc-400 hover:text-zinc-100"
      >Rock Classics</a
    >
    <a href="" class="text-sm text-zinc-400 hover:text-zinc-100">Chill Hits</a>
    <a href="" class="text-sm text-zinc-400 hover:text-zinc-100">Viva Latino</a>
    <a href="" class="text-sm text-zinc-400 hover:text-zinc-100">Mega Hit Mix</a
    >
    <a href="" class="text-sm text-zinc-400 hover:text-zinc-100">MostDope</a>
    <a href="" class="text-sm text-zinc-400 hover:text-zinc-100">Top Brasil</a>
    <a href="" class="text-sm text-zinc-400 hover:text-zinc-100">Daily Mix 2</a>
    <a href="" class="text-sm text-zinc-400 hover:text-zinc-100">Daily Mix 3</a>
    <a href="" class="text-sm text-zinc-400 hover:text-zinc-100"
      >Discover Weekly</a
    >
  </nav>
</aside>
